iframe {
  /* Set the width of the iframe the size you want to transform it FROM */
  width: 1108px;
  height: 710px;
  /* apply the transform */
  -webkit-transform:scale(0.75);
  -moz-transform:scale(0.75);
  -o-transform:scale(0.75);
  transform:scale(0.75);
  /* position it, as if it was the original size 
  position: absolute;
  left: -400px;
  top: -200px; */
}
