body {
    margin: 0;
}

.topnavbar {
    overflow: hidden;
    background-color: rgb(187, 36, 45);
    position: fixed;
    top: 0;
    width: 100%;
}

    .topnavbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnavbar a:hover {
            background: #ddd;
            color: rgb(187, 36, 45);
        }

.maincontent {
    margin-top: 30px;
}
